<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body style="background-color:#b2f8dd">
    <header>
    <h1 style = "font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:50px">The Tech Blog</h1>
    <nav style="background-color:#10e091" class="navbar" role="navigation" aria-label="main navigation">
      
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
     
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
       
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" id="homepage"><strong>Home</strong></a>
        <a class="navbar-item" id="dashboard"><strong>Dashboard</strong></a>
      <div class="navbar-end">
    <div class="navbar-item">

{{#if (eq loggedIn true)}}
  <div class="buttons">
    <button id="logout-btn" class="button is-primary">
      <strong>Log Out</strong>
    </button>
  </div>
{{else}}
  <div class="buttons">
    <a href="/login" id="signup-link" class="button is-primary">
      <strong>Sign up</strong>
    </a>
    <a href="/login" id="login-link" class="button is-light">
     <strong>Log in</strong>
    </a>
  </div>
{{/if}}

    </div>
    </div> 
    </div>
        
    </nav>
    </header>

    <main >
      
        {{{body}}}

    </main>
    <footer>

    </footer>
    {{#if (eq loggedIn true)}}
  <script src="/js/logout.js"></script>
  {{/if}}

<script src="/js/dashboard.js"></script>

</body>

</html>
