<main style="background-color:#b2f8dd; height: 100vh; margin-bottom: 30px;">
<div style="width:45%; display:inline-block; padding-top: 72px; font-family: 'Arial'; padding-bottom: 200px">
<h2 style="font-weight: 500; font-size: 400%; padding-bottom: 20px; padding-left: 20px">
      Welcome to The Tech Blog, <span style="font-weight: 200;">{{ userPage.username }}</span>!
    </h2>



</div>

</main>


<script src="./js/dashboard.js"></script>
